.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.odin-logo {
  width: 100%;

  display: flex;
  align-items: center;
  background-color: black;
}

img {
  width: 30px;
  height: 30px;
}

.signup-image {
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

figcaption {
  font-size: 24;
  color: white;
}
