@font-face {
  font-family: 'Norse-Bold';
  src: url(./fonts/Norse-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 24px;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.signup-image {
  height: 100%;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 25vh;
  color: #ffffff;
  font-family: 'Norse-Bold';
  font-size: 5rem;
  padding: 14px 10vw;
}

.odin-logo img {
  width: 5rem;
}

.caption {
  font-size: 0.5rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}

.caption a {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #f9fafb;
}

.hero {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 18vh;
  margin-right: 10vw;
  margin-left: 2vw;
  margin-bottom: 5vh;
  padding-right: 15vw;
}

.hero > p {
  margin: 0px;
  padding-top: 2vh;
  padding-right: 12vw;
}

.hero span {
  font-style: italic;
}

fieldset {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: relative;
  margin: 0;
  padding: 2vh 2vw 4vh 2vw;
  background-color: #ffffff;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2vh;
  float: left;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  clear: both;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

label {
  font-weight: bold;
  color: #797676;
}

input {
  width: 12rem;
  height: 1rem;
  font-size: 1rem;
  padding: 8px 16px;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  background-color: #fdfdff;
}

input:focus {
  border: none;
  outline: 2px solid #6081e0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.invalid {
  border: none;
  outline: 2px solid #b91c1c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input:invalid:focus {
  border: none;
  outline: 2px solid #b91c1c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footer {
  margin-left: 2vw;
  margin-bottom: 14vh;
}

.footer > button {
  margin-top: 6vh;
  background-color: #596d48;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px 56px;
}

.footer a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}
